@mixin clearfix {
  //pseudo element
  &::after {
    content: '';
    //standard version for the clearfix
    display: table;
    //clear for both float:left and float:right;
    clear: both;
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  /* this makes it so that the element is actually shifted 50% to the top and left(meaning the center of the element is actually the center) */
  /* if you didn't do this, by default the left side of this element would be considered to be the center */
  transform: translate(-50%, -50%);
}

// MEDIA QUERY MANAGER

/*

0 - 600px:      Phone
600 - 900px:    Tablet Potrait
900 - 1200px:   Tablet Landscape
[1200 - 1800] is where out normal styles apply
1800px + :      Big Desktop

*/

/*$breakpoint argument choices

- phone
- tab-port
- big-desktop

*/

/*
ORDER: Base + typography > general layout + grid > page layout > components
*/

// @mixin response-phone {
//   @media (max-width: 600px) {
//     @content;
//   }
// }

// 1em = 16px;
// em is best for media queries
@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 37.5em) { // (600px / 16)
      @content;
    }
  }
  @if $breakpoint == tab-port {
    @media (max-width: 56.25em) { // (900px / 16)
      @content;
    }
  }
  @if $breakpoint == tab-land {
    @media (max-width: 75em) { // (1200px / 16)
      @content;
    }
  }
  @if $breakpoint == big-desktop {
    @media (min-width: 112.5em) {  // (1800px / 16)
      @content;
    }
  }
}
