.row {
  max-width: $grid-width;
  // background-color: #eee;

  //people do this to center block elements
  margin: 0 auto;

  //everything EXCEPT the last child
  &:not(:last-child) {
    margin-bottom: $gutter-vertical;
  }

  @include clearfix;

  //selects all class that has attributes that starts with "col="
  [class^='col-'] {
    // background-color: orangered;
    
    float: left;

    //everything EXCEPT the last child
    &:not(:last-child) {
      margin-right: $gutter-horizontal;
    }
  }

  .col-1-of-2 {
    //100% of original width, minus the number of space inbetween each block, divided by the totla number of blocks
    width: calc((100% - #{$gutter-horizontal}) / 2);
  }

  .col-1-of-3 {
    //100% of original width, minus the number of space inbetween each block, divided by the totla number of blocks
    width: calc((100% - 2 * #{$gutter-horizontal}) / 3);
  }

  .col-2-of-3 {
    //100% of original width, minus the number of space inbetween each block, divided by the totla number of blocks
    width: calc(
      2 * ((100% - 2 * #{$gutter-horizontal}) / 3) + #{$gutter-horizontal}
    );
  }

  .col-1-of-4 {
    //100% of original width, minus the number of space inbetween each block, divided by the totla number of blocks
    width: calc((100% - 3 * #{$gutter-horizontal}) / 4);
  }

  .col-2-of-4 {
    //100% of original width, minus the number of space inbetween each block, divided by the totla number of blocks
    width: calc(
      2 * ((100% - 3 * #{$gutter-horizontal}) / 4) + #{$gutter-horizontal}
    );
  }

  .col-3-of-4 {
    //100% of original width, minus the number of space inbetween each block, divided by the totla number of blocks
    width: calc(
      3 * ((100% - 3 * #{$gutter-horizontal}) / 4) + 2 * #{$gutter-horizontal}
    );
  }
}
