.header {
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url('../img/hero.jpg');
  /* means always try and fit the image inside the box */
  background-size: cover;
  /* means the center top of image stays where it is no matter how much we resize image */
  background-position: top;

  //webkit is a vendor prefix, check out in your notes
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  /* modern css property to clip image */
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

  /* this is where other elements inside the header will reference(know where to start) when positioning */
  position: relative;

  &__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
  }

  &__logo {
    /* You don't need to specify the width as it will automatically figured out by the browser */
    height: 3.5rem;
  }

  &__text-box {
    position: absolute;
    /* these are in relations to the parent element(header). so start positioning inside the header */
    top: 40%;
    left: 50%;
    /* this makes it so that the element is actually shifted 50% to the top and left(meaning the center of the element is actually the center) */
    /* if you didn't do this, by default the left side of this element would be considered to be the center */
    transform: translate(-50%, -50%);
    /* all the other text elements within this textbox will be centered */
    text-align: center;
  }
}
