.story {
  width: 75%;
  margin: 0 auto;
  //x direction, y direction, and amount of blur
  box-shadow: 0 3rem 6rem rgba($color-black, 0.1);
  background-color: rgba($color-white,.6);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: $default-font-size;

  transform: skewX(-12deg);

  &__shape {
    width: 15rem;
    height: 15rem;
    float: left;

    //this will only work if float, width, and height exist
    //this will form a circle around the box
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);

    //this will actually CLIP/CUT the circle out so we can see
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);

    //The best way to move around elements that is FLOATED is by using transform: translateX(-3rem);
    transform: translateX(-3rem) skewX(12deg);

    /* this is where other elements inside the header will reference(know where to start) when positioning */
    position: relative;
  }

  &__img {
    height: 100%;
    //translating the img because its not positioned correctly starting out
    transform: translateX(-4rem) scale(1.4);

    //enable ALL SMOOTH transform transition within .3s
    transition: all 0.5s;
  }

  &__text {
    transform: skewX(12deg);
  }

  &__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    /* this makes it so that the element is actually shifted 50% to the top and left(meaning the center of the element is actually the center) */
    /* if you didn't do this, by default the left side of this element would be considered to be the center */
    transform: translate(-50%, -20%);

    color: $color-white;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;

    //enable ALL SMOOTH transform transition within .3s
    transition: all 0.5s;
  }

  &:hover &__caption {
    opacity: 1;
    /* this makes it so that the element is actually shifted 50% to the top and left(meaning the center of the element is actually the center) */
    /* if you didn't do this, by default the left side of this element would be considered to be the center */
    transform: translate(-50%, -50%);
  }

  &:hover &__img {
    //translating the img because its not positioned correctly starting out
    transform: translateX(-4rem) scale(1);
    filter: blur(3px) brightness(80%);
  }
}
